<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../../Final Output/static/css/style.css">
        <link rel="stylesheet" type="text/css" href="../../Final Output/static/css/lightbox.min.css">
<script src="../../Final Output/static/script/lightbox-plus-jquery.min.js"></script>
        <title> Gallery - One Piece x Hungry Days</title>
    </head>
    <body>
       <section>
        <header>
            <a href="LandingPage.html"> <img src="../img/logo.png" class="logo"> </a>
            <ul>
            <li> <a href="LandingPage.html" class="link"> Home </a> </li>
            <li> <a href="https://www.cupnoodle.jp/cm/" target="_blank" rel="noopener noreferrer" class="link"> Products </a> </li>
            <li> <a href="gallery.html" class="link"> Gallery </a> </li>
            <li> <a href="about.html" class="link"> About </a> </li>
            </ul>
            </header>
            <div class="main">
                    <h1> Illustrations</h1>
                    <h2> Commercials</h2>
                <div class="ok1">
                    <a href="https://www.youtube.com/watch?v=Sj7DoJWFXrE" target="_blank" rel="noopener noreferrer"><img src="../img/gallery/zorosaga.webp" width="300px"></a>
                    <a href="https://www.youtube.com/watch?v=vHU7UrD8atY" target="_blank" rel="noopener noreferrer"><img src="../img/gallery/namisaga.webp" width="300px"></a>
                    <a href="https://www.youtube.com/watch?v=H72C0CzereI" target="_blank" rel="noopener noreferrer"><img src="../img/gallery/vivisaga.webp" width="300px"></a>
                    <a href="https://www.youtube.com/watch?v=U4-71D75KcI" target="_blank" rel="noopener noreferrer"><img src="../img/gallery/summitsaga.webp" width="300px"></a>
                    <div class="br"></div>
                    </div>
                    <h2> Strawhat Pirate Crew</h2>
                    <div class="ok">
                    <a href="../img/gallery/Luffy_Hungry_Days.webp" data-lightbox="mygallery" data-title="Monkey D. Luffy"><img src="../img/gallery/Luffy_Hungry_Days.webp" width="300px"></a>
                    <a href="../img/gallery/Zoro_Hungry_Days.png" data-lightbox="mygallery" data-title="Roronoa Zoro"><img src="../img/gallery/Zoro_Hungry_Days.png" width="300px"></a>
                    <a href="../img/gallery/Sanji_Hungry_Days.png" data-lightbox="mygallery" data-title="Vinsmoke Sanji"><img src="../img/gallery/Sanji_Hungry_Days.png" width="300px"></a>
                    <a href="../img/gallery/Nami_Hungry_Days.webp" data-lightbox="mygallery" data-title="Cat Burglar Nami"><img src="../img/gallery/Nami_Hungry_Days.webp" width="300px"></a>
                    <a href="../img/gallery/Usopp_Hungry_Days.png" data-lightbox="mygallery" data-title="God Usopp"><img src="../img/gallery/Usopp_Hungry_Days.png" width="300px"></a>
                    <div class="br"></div>
                    <a href="../img/gallery/Robin_Hungry_Days.png" data-lightbox="mygallery" data-title="Nico Robin"><img src="../img/gallery/Robin_Hungry_Days.png" width="300px"></a>
                    <a href="../img/gallery/Chopper_Hungry_Days.png" data-lightbox="mygallery" data-title="Tony Tony Chopper"><img src="../img/gallery/Chopper_Hungry_Days.png" width="300px"></a>
                    <a href="../img/gallery/Brook_Hungry_Days.png" data-lightbox="mygallery" data-title="Soul King Brook"><img src="../img/gallery/Brook_Hungry_Days.png" width="300px"></a>
                    <a href="../img/gallery/Franky_Hungry_Days.png" data-lightbox="mygallery" data-title="Cyborg Franky"><img src="../img/gallery/Franky_Hungry_Days.png" width="300px"> </a>
                    <div class="br"></div> </div>
                    <h2> Others </h2>
                    <div class="ok">
                        <a href="../img/gallery/Vivi_Hungry_Days.png" data-lightbox="mygallery" data-title="Nefertari Vivi"><img src="../img/gallery/Vivi_Hungry_Days.png" width="300px"> </a>
                            <a href="../img/gallery/Whitebeard_Hungry_Days.png" data-lightbox="mygallery" data-title="Edward Newgate"><img src="../img/gallery/Whitebeard_Hungry_Days.png" width="300px"> </a>
                                <a href="../img/gallery/Blackbeard_Hungry_Days.png" data-lightbox="mygallery" data-title="Marshall D. Teach"><img src="../img/gallery/Blackbeard_Hungry_Days.png" width="300px"> </a>
                    </div>
                </div>
            </div>
       </section>
    </body>
</html>