<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../Final Output/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../Final Output/static/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"/>
    <script src="../../Final Output/static/script/lightbox-plus-jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../Final Output/static/script/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <title>About - One Piece x Hungry Days</title>
</head>
<body class="shopbody">
    <header >
        <a href="LandingPage.html"> <img src="../img/logo.png" class="logo"> </a>
        <ul>
        <li> <a href="LandingPage.html" class="link"> Home </a> </li>
        <li> <a href="shop.html" class="link"> Products </a> </li>
        <li> <a href="gallery.html" class="link"> Gallery </a> </li>
        <li> <a href="about.html" class="link"> About </a> </li>
        </ul>
    </header>
    <div style="display:block;">
        <embed src="https://www.cupnoodle.jp/cm/" style="width:100%; height:auto; display:block;">
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <p>&copy; 2024 One Piece: Youth. All rights reserved.</p>
                <ul class="footer-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <ul class="social-icons">
                    <li>
                        <a href="https://www.youtube.com/watch?v=NO5H_5HgDhk" class="ooh">
                            <img src="../img/icons/youtube.png" alt="Youtube">
                        </a>
                    </li>
                    <li>
                        <a href="https://nissinfoods.com/products/cup-noodles" class="ooh">
                            <img src="../img/icons/twitter.png" alt="Twitter">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/eiichiro_staff?lang=en" class="ooh">
                            <img src="../img/icons/globe.png" alt="Globe">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
