@import url('https://www.dafontfree.io/one-piece-font/:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ONE PIECE';
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    position: relative;
    max-width: 100px;
}
header ul {
    position: relative;
    display: flex;
    }
header ul li {
    list-style: none;
    }
header ul li a {
    display: inline-block;
    color: black;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    font-size: 32px;
    }
.content {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
.content .textBox {
        position: relative;
        max-width: 600px;
        }
.content .textBox h2 {
            color: #333;
            font-size: 4em;
            line-height: 1.4em;
            font-weight: 500;
            }
.content .textBox h2 {
            color: #333;
            }
.content .textBox a {
            display: inline-block;
            margin-top: 20px;
            padding: 8px 20px;
            background: red;
            color: white;
            border-radius: 40px;
            font-weight: 500;
            letter-spacing: 1px;
            text-decoration: none;
            }
.content .imgBox {
                width: 600px;
                display: flex;
                justify-content: flex-end;
                padding-right: 50px;
                margin-top: 50px;
                }
.content .imgBox img{
                max-width: 340px;
                }
.thumb {
                    position: absolute;
                    left: 50%;
                    bottom: 20px;
                    transform: translateX(-50%);
                    display: flex;
                    }
.thumb li {
                        list-style: none;
                        display: inline-block;
                        margin: 0 20px;
                        cursor: pointer;
                        transition: 0.5s;
                        }
.thumb li:hover {
    transform: translateY(-15px);
}
.thumb li img {
    max-width: 60px;
}

.shopbody{
    display: flex;
    flex-direction: column;

}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
.sci li {
    list-style: none;
    }
.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
    }
.sci li img {
    max-width: 60px;
}

.textBox p{
    text-justify: auto;
    text-align: justify;
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(54, 153, 107);
    clip-path: circle(600px at right 800px);
    }
.link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: rgb(65, 103, 153);
        transition: width .3s;
        }
.link:hover::after {
        width: 100%;
        transition: width .3s;
        }
.ooh::after {
    content: '';
        display: block;
        width: 0;
        height: 2px;
        background: rgb(65, 103, 153);
        transition: width .3s;
}
.ooh:hover::after {
    width: 100%;
    transition: width .3s;
}
.main h1 {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 89px;
}
.main {
    justify-content: center;
    align-items: center;
}
.ok {
    margin: 10px 50px;
}

.ok img {
transition: 1s;
padding: 15px;
width: 200px;
}

.ok img:hover {
transform: scale(1.1);
}
.br {
    border-bottom: 2px solid black;
    width: 100%;
    margin: 0px;
    margin-bottom: 15px;
}
.ok1 {
    margin: 10px 50px;
}

.ok1 img {
    transition: 1s;
    padding: 15px;
    width: 230px;
}
    
.ok1 img:hover {
    transform: scale(1.1);
}

.footer {
    background-color: #1b1b1b;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links {
    list-style: none;
    display: flex;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.social-icons {
    padding-top: 5px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    display: inline-block;
    transform: scale(0.6);
    filter: invert(1);
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(0.8);
}